@model SitioWebOasis.Models.DatosAcademicosEstudiante
@{
    ViewBag.Title = "Notas Estudiantes";
}

@section scripts{

    <script>
        $(function(){
            $('#ddlLstPeriodosEstudiante').change("click", function () {
                HoldOn.open({
                    theme: 'sk-dot',
                    message: "<h4>Cargado ...</h4>"
                });

                $.redirect( "@Url.Action("NotasEstudiantes", "Estudiantes")", 
                            {   periodoAcademico: $(this).val() },    
                                "POST" )
            })
        })
    </script>
}

<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="contextual-summary-info">
                <i class="fa fa-user"></i>
                <p class="pull-right"><span> @Model.UsuarioActual.CarreraActual.Nombre.ToString() / AGO 2017 - MAR 2018 </span> @Model.UsuarioActual.Nombre.ToString() </p>
            </div>
        </div>
    </div>
</div>

<div class="widget">
    <div class="widget-header">
        <h3> <i class="fa fa-star"></i> @Language.es_ES.EST_LBL_NOTAS.ToUpper()</h3>
        <div class="widget-header-toolbar">

            <div class="control-inline toolbar-item-group">
                <span class="control-title"><i class="fa fa-calendar-check-o"></i> @Language.es_ES.EST_LBL_PERIODO_ACADEMICO &nbsp;</span>
                @*dropdownlist - periodos academicos del estudiante *@
                @Html.DropDownList( "ddlLstPeriodosEstudiante",
                                    Model.getLstPeriodosEstudiante(),
                                    new{@class = "multiselect",
                                        @Styles = "display: none;"})
            </div>

        </div>
    </div>

    <div class="widget-content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion">
                    @*  EVALUACION ACUMULATIVA  *@
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed"><b>@Language.es_ES.EST_LBL_EV_ACUMULATIVA.ToUpper() </b>
                                <i class="fa fa-angle-down pull-right"></i><i class="fa fa-angle-up pull-right"></i></a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="false" style="">
                            <div class="panel-body">
                                @*TABLA DE NOTAS DEL ESTUDIANTE*@
                                <table id="ticket-table" class="table table-sorting dataTable no-footer" role="grid">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 50px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_NUMERO</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 600px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_ASIGNATURA</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 150px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_NIVEL</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 150px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_MATRICULA</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 125px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_NOTA_UNO</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 125px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_NOTA_DOS</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 125px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_NOTA_TRES</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 125px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_ACUMULADO</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 100px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_OBSERVACION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @*NOTAS EVALUACION ESTUDIANTE*@
                                        @Html.Raw(Model.getHTMLNotasEVAcumulativa())
                                    </tbody>
                                </table>
                                <div class="row"></div>
                            </div>
                        </div>
                    </div>

                    @*  EVALUACION FINAL    *@
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false"><b>@Language.es_ES.EST_LBL_EV_FINAL.ToUpper()</b>
                                <i class="fa fa-angle-down pull-right"></i><i class="fa fa-angle-up pull-right"></i></a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <table id="ticket-table" class="table table-sorting dataTable no-footer" role="grid">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 50px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_NUMERO</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 600px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_ASIGNATURA</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 150px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_NIVEL</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 150px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_MATRICULA</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 125px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_ACUMULADO</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 125px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_NOTA_FINAL</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 125px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_EQUIVALENCIA</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 100px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_OBSERVACION</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @Html.Raw(Model.getDtaEvFinal_EvRecuperacion("PRI"))
                                    </tbody>
                                </table>
                                <div class="row"></div>
                            </div>
                        </div>
                    </div>

                    @*  EVALUACION RECUPERACION *@
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed" aria-expanded="false"><strong> @Language.es_ES.EST_LBL_EV_RECUPERACION.ToUpper() </strong>
                                    <i class="fa fa-angle-down pull-right"></i><i class="fa fa-angle-up pull-right"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                @*TABLA DE NOTAS DEL ESTUDIANTE*@
                                <table id="ticket-table" class="table table-sorting dataTable no-footer" role="grid">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 50px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_NUMERO</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 600px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_ASIGNATURA</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 150px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_NIVEL</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 150px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_MATRICULA</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 125px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_ACUMULADO</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 125px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_NOTA_FINAL</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 125px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_EQUIVALENCIA</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 100px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_OBSERVACION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @Html.Raw(Model.getDtaEvFinal_EvRecuperacion("SUS"))
                                    </tbody>
                                </table>
                                <div class="row"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

