@model SitioWebOasis.Models.HorarioExamenesEstudiante
@{
    ViewBag.Title = "Horario examenes estudiante";
}

@section scripts{
    <script>
        $(function(){
            //  Exportar horario de examenes a formato PDF
            $('#btnExportPDF').click(function () {
                $.redirect( "@Url.Action("createFileHorarioExamenes", "Estudiantes")",
                            { idCurso: $('#ddlLstCursoParalelo').val(), idTypeFile: "PDF" },
                            "POST" )
            })

            //  Exportar horario de examenes en formato Excel
            $('#btnExportXLS').click(function () {
                $.redirect( "@Url.Action("createFileHorarioExamenes", "Estudiantes")",
                            { idCurso: $('#ddlLstCursoParalelo').val(), idTypeFile: "Excel" },
                            "POST" )
            })
        })
    </script>
}

<div class="widget">
    <div class="widget-header">
        <h3>@Language.es_ES.EST_LBL_HORARIOS_EXAMENES</h3>

        <div class="btn-group widget-header-toolbar">
            <button id="btnExportPDF" type="button" class="btn btn-danger" style="padding-top: 2px; height: 25px;">
                <i class="fa fa-download"></i>
                @Language.es_ES.EST_DWN_PDF
            </button>
        </div>

        <div class="widget-header-toolbar">
            <button id="btnExportXLS" type="button" class="btn btn-primary" style="padding-top: 2px; height: 25px;">
                <i class="fa fa-download"></i>
                @Language.es_ES.EST_DWN_XLS
            </button>
        </div>

    </div>

    <div class="widget-content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion">
                    @*  HORARIO EXAMENES ESTUDIANTE  *@
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed">
                                    <b>@Language.es_ES.EST_TB_HORARIO_EXAMENES </b>
                                    <i class="fa fa-angle-down pull-right"></i><i class="fa fa-angle-up pull-right"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="false" style="">
                            <div class="panel-body">
                                @*TABLA DE NOTAS DEL ESTUDIANTE*@
                                <table id="ticket-table" class="table table-bordered" role="grid">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 50px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_NUMERO</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 90px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_ASIGNATURA</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 130px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_NIVEL</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 130px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_FECHA_EVALUACION_FINAL</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 130px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_FECHA_EVALUACION_RECUPERACION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @* HORARIO DE EXAMENES ESTUDIANTE *@
                                        @Html.Raw(Model.getHTMLHorarioExamenesEstudiante())
                                    </tbody>
                                </table>
                                <div class="row"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>