@model SitioWebOasis.Models.HorarioEstudiante
@{
    ViewBag.Title = "Horario Estudiante";
}

@section scripts{

    <script>
        $(function(){
            $('#ddlLstCursoParalelo').change("click", function () {
                $.redirect( "@Url.Action("HorarioEstudiante", "Estudiantes")",
                            { strCursoParalelo: $(this).val() },
                            "POST" )
            })

            //  Exportar horario en formato PDF
            $('#btnExportPDF').click(function () {
                $.redirect( "@Url.Action("createFile", "Estudiantes")",
                            { idCurso: $('#ddlLstCursoParalelo').val(), idTypeFile: "PDF" },
                            "POST" )
            })


            //  Exportar horario en formato EXCEL
            $('#btnExportXLS').click(function () {
                $.redirect( "@Url.Action("createFile", "Estudiantes")",
                            { idCurso: $('#ddlLstCursoParalelo').val(), idTypeFile: "Excel" },
                            "POST" )
            })
        })
    </script>
}

<div class="widget">
    <div class="widget-header">
        <h3>@Language.es_ES.EST_LBL_HORARIOS.ToUpper()</h3>

        <div class="btn-group widget-header-toolbar">
            <button id="btnExportPDF" type="button" class="btn btn-danger" style="padding-top: 2px; height: 25px;">
                <i class="fa fa-download"></i>
                @Language.es_ES.EST_DWN_PDF
            </button>
        </div>

        <div class="widget-header-toolbar">
            <button id="btnExportXLS" type="button" class="btn btn-primary" style="padding-top: 2px; height: 25px;">
                <i class="fa fa-download"></i>
                @Language.es_ES.EST_DWN_XLS
            </button>
        </div>

        <div class="widget-header-toolbar">
            @*dropdownlist - Cursos y paralelo de una determinada carrera *@
            @Html.DropDownList("ddlLstCursoParalelo",
                                Model.getLstCursosCarrera(),
                                new{    @class = "multiselect",
                                        @Styles = "display: none;" })
        </div>

    </div>

    <div class="widget-content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion">
                    @*  HORARIO ACADEMICO  *@
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed">
                                    <b>@Language.es_ES.EST_TB_HORARIO_ACADEMICO </b>
                                    <i class="fa fa-angle-down pull-right"></i><i class="fa fa-angle-up pull-right"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="false" style="">
                            <div class="panel-body">
                                @*TABLA DE NOTAS DEL ESTUDIANTE*@
                                <table id="ticket-table" class="table table-bordered" role="grid">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 50px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_NUMERO</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 90px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_HORA</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 130px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_LUNES</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 130px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_MARTES</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 130px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_MIERCOLES</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 130px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_JUEVES</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 130px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_VIERNES</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 130px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_SABADO</th>
                                            <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 130px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_DOMINGO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @*NOTAS EVALUACION ESTUDIANTE*@
                                        @Html.Raw(Model.HTMLHorarioCarrera())
                                    </tbody>
                                </table>
                                <div class="row"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>