@model SitioWebOasis.Models.DatosAcademicosEstudiante

@{
    ViewBag.Title = "Estudiantes";
    var promedioEstudiante = default(decimal);
    var descripcionPeriodoEstudiante = string.Empty;
    var evaluacionActiva = Model.getDataEvaluacionActiva();
    var tipoEvaluacion = (evaluacionActiva == "1" || evaluacionActiva == "2" || evaluacionActiva == "3")
                    ? @Language.es_ES.EST_LBL_EV_ACUMULATIVA
                    : (evaluacionActiva == "P")
                        ? @Language.es_ES.EST_LBL_EV_FINAL
                        : (evaluacionActiva == "S")
                            ? @Language.es_ES.EST_LBL_EV_RECUPERACION
                            : "";

    Model.getDataAcademico(out promedioEstudiante, out descripcionPeriodoEstudiante);
}


@section AddToHead{
    <link href="@Url.Content("~/Content/css/skins/estudiante.css")" rel="stylesheet" type="text/css" />
}

@Html.Hidden("numIdentificacion", Model.UsuarioActual.Cedula.ToString())

<div class="main-content">

    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="contextual-summary-info">
                    <i class="fa fa-user"></i>
                    <p class="pull-right"><span><strong>@Model.UsuarioActual.CarreraActual.Nombre / @Model.UsuarioActual.CarreraActual.SedeCarrera </strong> </span> @Model.UsuarioActual.Nombre.ToString() </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        @* NIVEL DEL ESTUDIANTE *@
        <div class="col-md-6">
            <div class="contextual-summary-info">
                <i class="fa fa-level-up"></i>
                <p class="pull-right"><span> @Language.es_ES.EST_LBL_NIVEL </span> @Model.getNivelEstudiante() </p>
            </div>
        </div>

        @* PROMEDIO DEL ESTUDIANTE *@
        <div class="col-md-6">
            <div class="contextual-summary-info">
                <i class="fa fa-line-chart yellow-font"></i>
                <p class="pull-right"><span>@Language.es_ES.EST_LBL_PROMEDIO </span> @promedioEstudiante.ToString() </p>
            </div>
        </div>
    </div>
    
    <div class="widget widget-table">
        <div class="widget-header">
            <h3><i class="fa fa-star"></i> @tipoEvaluacion &nbsp;/&nbsp; @Language.es_ES.EST_LBL_NOTAS</h3>

            <div class="btn-group widget-header-toolbar">
                <a href="@Url.Action("NotasEstudiantes", "Estudiantes")" class="label label-default" style="color: white; font-size: small;">
                    <i class="fa fa-eye"></i> @Language.es_ES.EST_LBL_VER_MAS
                </a>
            </div>

            <div class="widget-header-toolbar">
                <div class="label label-default" style="font-size: small;">
                    <i class="fa fa-clock-o"></i> @Language.es_ES.EST_LBL_PERIODO_ACADEMICO: &nbsp;@descripcionPeriodoEstudiante 
                </div>
            </div>
        </div>

        <div class="widget-content">
            <div id="ticket-table_wrapper" class="dataTables_wrapper form-inline no-footer">

                @if ( Model.estudianteEnPeriodoVigente() && evaluacionActiva == "1" || evaluacionActiva == "2" || evaluacionActiva == "3"){
                    @*TABLA DE NOTAS DEL ESTUDIANTE*@
                    <table class="table table-hover table-responsive{-sm|-md|-lg|-xl}" role="grid">
                        <thead>
                            <tr role="row">
                                <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 50px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_NUMERO</th>
                                <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 600px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_ASIGNATURA</th>
                                <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 150px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_NIVEL</th>
                                <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 150px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_MATRICULA</th>

                                <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 125px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_NOTA_UNO</th>
                                <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 125px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_NOTA_DOS</th>
                                <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 125px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_NOTA_TRES</th>
                                <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 125px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_ACUMULADO</th>

                                <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 100px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_EQUIVALENCIA</th>
                                <th tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" style="width: 100px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_OBSERVACION</th>

                            </tr>
                        </thead>
                        <tbody>
                            @*NOTAS EVALUACION ESTUDIANTE*@
                            @Html.Raw(Model.getHTMLNotasEVAcumulativa())
                        </tbody>
                    </table>
                }else if (evaluacionActiva == "P" || evaluacionActiva == "S" || string.IsNullOrEmpty( evaluacionActiva ) ){
                    <table id="ticket-table" class="table table-hover table-responsive{-sm|-md|-lg|-xl}" role="grid" style="font-stretch: condensed;">
                        <thead>
                            
                            <tr role="row">
                                <th rowspan="2" style="align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_NUMERO</th>
                                <th rowspan="2" style="width: 250px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_ASIGNATURA</th>
                                <th rowspan="2" style="align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_NIVEL</th>
                                <th rowspan="2" style="align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.EST_TB_COL_MATRICULA</th>

                                <th colspan="5" style="border-left: 1px solid darkgray;border-top: 1px solid darkgray; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_EV_ACUMULATIVA</th>
                                <th colspan="3" style="border-left: 1px dotted darkgray;border-top: 1px solid darkgray; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_EV_FINAL</th>
                                <th colspan="4" style="border-left: 1px dotted darkgray;border-top: 1px solid darkgray;align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_EV_RECUPERACION</th>
                                <th rowspan="2" style="border-left: 1px solid darkgray;align-content: center; vertical-align: middle; text-align: center;">OBS.</th>
                            </tr>

                            <tr role="row">
                                <th style="align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_PARCIAL_01</th>
                                <th style="align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_PARCIAL_02</th>
                                <th style="align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_PARCIAL_03</th>
                                <th style="align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_PORCIENTO_ASISTENCIA</th>
                                <th style="align-content: center; vertical-align: middle; text-align: center;" data-toggle="tooltip" data-placement="top" data-original-title="@Language.es_ES.NOTAS_TB_COL_TOTAL_ACUMULADO_TOOL_TIP" >@Language.es_ES.NOTAS_TB_COL_TOTAL_ACUMULADO</th>

                                <th style="border-left: 1px dotted darkgray;border-top: 2px solid darkgray; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_NOTA_EV_FINAL</th>
                                <th style="align-content: center; vertical-align: middle; text-align: center;"data-toggle="tooltip" data-placement="top" data-original-title="@Language.es_ES.NOTAS_TB_COL_EF_TOTAL_ACUMULADO_TOOL_TIP">@Language.es_ES.NOTAS_TB_COL_EF_TOTAL_ACUMULADO</th>
                                <th style="align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_EQUIVALENCIA</th>

                                <th style="border-left: 1px dotted darkgray; align-content: center; vertical-align: middle; text-align: center;" data-toggle="tooltip" data-placement="top" data-original-title="@Language.es_ES.NOTAS_TB_COL_ER_ACUMULADO_EV_RECUPERACION_TP">@Language.es_ES.NOTAS_TB_COL_ER_ACUMULADO_EV_RECUPERACION</th>
                                <th style="align-content: center; vertical-align: middle; text-align: center;" data-toggle="tooltip" data-placement="top" data-original-title="@Language.es_ES.NOTAS_TB_COL_ER_NOTA_EV_RECUPERACION_TOOP_TIP">@Language.es_ES.NOTAS_TB_COL_ER_NOTA_EV_RECUPERACION</th>
                                <th style="align-content: center; vertical-align: middle; text-align: center;" data-original-title="@Language.es_ES.NOTAS_TB_COL_ER_TOTAL_ACUMULADO_EV_RECUPERACION_TP">@Language.es_ES.NOTAS_TB_COL_ER_TOTAL_ACUMULADO_EV_RECUPERACION</th>
                                <th style="border-right: 1px solid darkgray; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_EQUIVALENCIA</th>
                            </tr>

                        </thead>

                        <tbody>
                            @Html.Raw(Model.getHTMLConsolidadoNotas())
                        </tbody>
                    </table>
                }

        </div>
    </div>
</div>

</div>

@section scripts{
    @*  JAVASCRIPT DE GESTION NOTAS DOCENTE  *@
    <script src="~/Content/js/Estudiantes/MatriculacionSA.js?v1.1.16"> </script>
}