@model SitioWebOasis.Models.EvaluacionesDocenteModel

@{
    ViewBag.Title = "Gestión de Notas - ";
    var strParcialActivo = Model.strParcialActivo.ToString();
    var colorP1 = "btn-success";
    var colorP2 = "btn-success";
    var colorP3 = "btn-success";
    var colorEF = "btn-success";
    var colorER = "btn-success";
    var activoEA = "collapse in";
    var activoEF = "collapse";
    var activoER = "collapse";

    switch (strParcialActivo){
        case "1":   colorP2 = "btn-warning";
            colorP3 = "btn-warning";
            colorEF = "btn-warning";
            colorER = "btn-warning";
            break;

        case "2":   colorP1 = "btn-warning";
            colorP3 = "btn-warning";
            colorEF = "btn-warning";
            colorER = "btn-warning";
            break;

        case "3":   colorP1 = "btn-warning";
            colorP2 = "btn-warning";
            colorEF = "btn-warning";
            colorER = "btn-warning";
            break;

        case "EF":   colorP1 = "btn-warning";
            colorP2 = "btn-warning";
            colorP3 = "btn-warning";
            colorER = "btn-warning";
            activoEA = "collapse";
            activoEF = "collapse in";
            activoER = "collapse";
            break;

        case "ER":
            colorP1 = "btn-warning";
            colorP2 = "btn-warning";
            colorP3 = "btn-warning";
            colorEF = "btn-warning";
            activoEA = "collapse";
            activoEF = "collapse";
            activoER = "collapse in";
            break;
    }
}


@*@section AddToHead{
    <link href="@Url.Content("~/Content/css/skins/slategray.css")" rel="stylesheet" type="text/css" />
}*@

@section scripts{
    @*  JAVASCRIPT DE GESTION NOTAS DOCENTE  *@
    <script src="~/Content/js/Docentes/GestionNotasDocente.js?v1.0.2"> </script>

    @if (strParcialActivo == "1" || strParcialActivo == "2" || strParcialActivo == "3"){
        @*  JAVASCRIPT DE GESTION DE INFORMACION DE EVALUACION ACUMULATIVA  *@
        <script src="~/Content/js/Docentes/GestionNotasAcumulado.js?v1.0.109"> </script>
        <script src="~/Content/js/Docentes/EvaluacionAcumulativa.js?v1.0.21"> </script>
    }

    @if (strParcialActivo == "EF"){
        @*  JAVASCRIPT DE GESTION DE INFORMACION DE EVALUACION FINAL *@
        <script src="~/Content/js/Docentes/GestionEvFinal.js?v1.0.22"></script>
        <script src="~/Content/js/Docentes/EvaluacionFinal.js?v1.0.20"></script>
    }

    @if (strParcialActivo == "ER"){
        @*  JAVASCRIPT DE GESTION DE INFORMACION DE EVALUACION RECUPERACION *@
        <script src="~/Content/js/Docentes/GestionEvRecuperacion.js?v1.0.8"></script>
        <script src="~/Content/js/Docentes/EvaluacionRecuperacion.js?v1.0.6"></script>
    }
}

<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="contextual-summary-info">
                <i class="fa fa-list-alt"></i>
                <p class="pull-right"><span> @Language.es_ES.DOC_GESTION_NOTAS </span> @Model.getNombreAsignatura( Model.strCodAsignatura.ToString(), Model.strCodNivel.ToString(), Model.strCodParalelo.ToString() ) </p>
            </div>
        </div>
    </div>
</div>

<div class="widget">
    <div class="widget-header">
        <h3> <strong> @Language.es_ES.DOC_GRD_EVALUACION_FORMATIVA </strong> </h3>
        <div class="widget-header-toolbar">

            <div class="control-inline toolbar-item-group">
                <span class="control-title"><i class="fa fa-calendar-check-o"></i> @Language.es_ES.LST_LBL_ASIGNATURAS_DOCENTE: &nbsp;</span>
                @*  dropdownlist - asignaturas de un docente *@
                @Html.DropDownList("ddlLstPeriodosEstudiante",
                                    Model.getLstAsignaturasDocente(Model.strCodAsignatura),
                                    new{@class = "multiselect",
                                        @Styles = "display: none;"
                                    })
            </div>
        </div>
    </div>

    <div class="widget-content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion">

                    @*EVALUACION ACUMULATIVA*@
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <strong> @Language.es_ES.DOC_TB_EV_ACUMULATIVA </strong>
                                    <i class="fa fa-angle-down pull-right"></i>
                                    <i class="fa fa-angle-up pull-right"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse @activoEA">
                            <div class="panel-body">

                                <div id="msmGrdEvAcumulativa" class="alert alert-info fade in" hidden="hidden">
                                    <button class="close" data-dismiss="alert">×</button>
                                    <i class="fa fa-info-circle"></i> Try to show/hide column visibility and drag the column to another position to reorder table columns.
                                </div>

                                @*BOTONES DE IMPRESION DE ACTAS*@
                                <div class="row">
                                    <div class="col-sm-12">
                                        @*IMPRESION DEL ACTA PARCIAL #01*@
                                        <div class="btn-group">
                                            <button type="button" class="btn @colorP1 btn-md"><i class="fa fa fa-print"></i> Parcial #01 </button>
                                            <button type="button" class="btn @colorP1 btn-md dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a id="btn_p1_pdf" href="#"> @Language.es_ES.EST_DWN_PDF</a></li>
                                                <li><a id="btn_p1_xls" href="#"> @Language.es_ES.EST_DWN_XLS</a></li>
                                                <li class="divider"></li>
                                                <li><a id="btn_p1_blc" href="#"> @Language.es_ES.EST_DWN_PDF_BLANCO </a></li>
                                            </ul>
                                        </div>

                                        @*IMPRESION DEL ACTA PARCIAL #02*@
                                        <div class="btn-group">
                                            <button type="button" class="btn @colorP2 btn-md"><i class="fa fa fa-print"></i> Parcial #02 </button>
                                            <button type="button" class="btn @colorP2 btn-md dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#"> @Language.es_ES.EST_DWN_PDF</a></li>
                                                <li><a href="#"> @Language.es_ES.EST_DWN_XLS</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#"> @Language.es_ES.EST_DWN_PDF_BLANCO </a></li>
                                            </ul>
                                        </div>

                                        @*IMPRESION DEL ACTA PARCIAL #03*@
                                        <div class="btn-group">
                                            <button type="button" class="btn @colorP3 btn-md"><i class="fa fa fa-print"></i> Parcial #03 </button>
                                            <button type="button" class="btn @colorP3 btn-md dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#"> @Language.es_ES.EST_DWN_PDF</a></li>
                                                <li><a href="#"> @Language.es_ES.EST_DWN_XLS</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#"> @Language.es_ES.EST_DWN_PDF_BLANCO </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <hr class="inner-separator">

                                @* GRID DE EVALUACION ACUMULATIVA *@
                                @* Si no existe parcial activo (P1, P2, P3) muestro el grid solo de lectura *@
                                @if (Model.strParcialActivo != "P" && Model.strParcialActivo != "NA")
                                {
                                    <table id="grdEvAcumulativa"></table>
                                    <hr class="inner-separator">
                                    <button id="btnGuardarEvAcumulativa"
                                            type="button"
                                            class="btn btn-success pull-right">
                                        <i class="fa fa-floppy-o fa-2x"></i> @Language.es_ES.BTN_GUARDAR_EVALUACION_ACUMULATIVA
                                    </button>
                                }else{
                                    @*TABLA DE NOTAS DEL ESTUDIANTE*@
                                    <table class="table table-bordered table-hover table-striped table-responsive" role="grid">
                                        <thead>
                                            <tr role="row">
                                                <th rowspan="2" style="align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_NUMERO</th>
                                                <th rowspan="2" style="align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_NOMBRE_ESTUDIANTE</th>
                                                <th rowspan="2" style="align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_NUMERO_MATRICULA</th>
                                                <th style="align-content: center; vertical-align: middle; text-align: center;" colspan="3">@Language.es_ES.NOTAS_TB_COL_EV_ACUMULATIVA</th>
                                                <th style="align-content: center; vertical-align: middle; text-align: center;" colspan="3">@Language.es_ES.NOTAS_TB_COL_TOTALIZADOS</th>
                                                <th rowspan="2" style="align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_OBSERVACION</th>
                                            </tr>

                                            <tr role="row">
                                                <th style="width: 75px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_PARCIAL_01 </th>
                                                <th style="width: 75px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_PARCIAL_02</th>
                                                <th style="width: 75px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_PARCIAL_03</th>

                                                <th style="width: 80px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_TOTAL</th>
                                                <th style="width: 80px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_PORCIENTO_ASISTENCIA</th>
                                                <th style="width: 80px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_ESTADO</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @* NOTAS EVALUACION ESTUDIANTE *@
                                            @Html.Raw(Model.evAcumulativaModel.getHTML_EvaluacionAcumulativa())
                                        </tbody>
                                    </table>
                                }

                            </div>
                        </div>
                    </div>


                    @*EVALUACION FINAL*@
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                                    <strong> @Language.es_ES.DOC_TB_EV_FINAL </strong>
                                    <i class="fa fa-angle-down pull-right"></i>
                                    <i class="fa fa-angle-up pull-right"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse @activoEF">
                            <div class="panel-body">

                                @if(strParcialActivo == "EF" || strParcialActivo == "ER") {
                                    <div id="msmGrdEvFinal" class="alert alert-info fade in" hidden="hidden">
                                        <button class="close" data-dismiss="alert">×</button>
                                        <i class="fa fa-info-circle"></i> EVALUACION FINAL - REGISTRADA <strong> VERSION BETA - La informacion gestionada es de prueba. </strong>
                                    </div>

                                    @*BOTONES DE IMPRESION ACTA EVALUACION FINAL*@
                                    <div class="row">
                                        <div class="col-sm-12">
                                            @*  IMPRESION DEL ACTA EVALUACION FINAL *@
                                            <div class="btn-group">
                                                <button type="button" class="btn @colorEF btn-md"><i class="fa fa fa-print"></i> Evaluaci&oacute;n final </button>
                                                <button type="button" class="btn @colorEF btn-md dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#"> @Language.es_ES.EST_DWN_PDF</a></li>
                                                    <li><a href="#"> @Language.es_ES.EST_DWN_XLS</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#"> @Language.es_ES.EST_DWN_PDF_BLANCO </a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="inner-separator">

                                    @* GRID DE EVALUACION FINAL *@
                                    <table id="grdEvFinal"></table>
                                    <hr class="inner-separator">
                                    <button id="btnGuardarEvFinal"
                                            type="button"
                                            class="btn btn-success pull-right">
                                        <i class="fa fa-floppy-o fa-2x"></i> @Language.es_ES.BTN_GUARDAR_EVALUACION_FINAL
                                    </button>
                                }else{
                                    <div class="alert alert-info fade in">
                                        <i class="fa fa-info-circle"></i> INFORMACION NO DISPONIBLE
                                    </div>
                                }

                            </div>
                        </div>
                    </div>


                    @*EVALUACION RECUPERACION*@
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                                    <strong> @Language.es_ES.DOC_TB_EV_RECUPERACION </strong>
                                    <i class="fa fa-angle-down pull-right"></i>
                                    <i class="fa fa-angle-up pull-right"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse @activoER">
                            <div class="panel-body">

                                @if (strParcialActivo == "EF" || strParcialActivo == "ER"){
                                    <div class="alert alert-info fade in">
                                        <button class="close" data-dismiss="alert">×</button>
                                        <i class="fa fa-info-circle"></i> Try to show/hide column visibility and drag the column to another position to reorder table columns.
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            @*IMPRESION DEL ACTA EVALUACION RECUPERACION #01*@
                                            <div class="btn-group">
                                                <button type="button" class="btn @colorER btn-md"><i class="fa fa fa-print"></i> Evaluaci&oacute;n recuperaci&oacute;n </button>
                                                <button type="button" class="btn @colorER btn-md dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#"> @Language.es_ES.EST_DWN_PDF</a></li>
                                                    <li><a href="#"> @Language.es_ES.EST_DWN_XLS</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#"> @Language.es_ES.EST_DWN_PDF_BLANCO </a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="inner-separator">
                                    @* GRID DE EVALUACION RECUPERACION *@
                                    <table id="grdEvRecuperacion"></table>
                                    <hr class="inner-separator">

                                    <button id="btnGuardarEvRecuperacion"
                                            type="button"
                                            class="btn btn-success pull-right">
                                        <i class="fa fa-floppy-o fa-2x"></i> @Language.es_ES.BTN_GUARDAR_EVALUACION_RECUPERACION
                                    </button>
                                }else{
                                    <div class="alert alert-info fade in">
                                        <i class="fa fa-info-circle"></i> INFORMACION NO DISPONIBLE
                                    </div>
                                }



                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    @* CODIGO DE LA ASIGNATURA A GESTIONAR *@
    @Html.Hidden("codAsignatura", @Model.strCodAsignatura)

    @* NIVEL DE LA ASIGNATURA *@
    @Html.Hidden("nivel", @Model.strCodNivel)

    @* PARALELO *@
    @Html.Hidden("paralelo", @Model.strCodParalelo)

    @* PARCIAL ACTIVO *@
    @Html.Hidden("dtaParcialActivo", @strParcialActivo)

    @* DATOS EVALUACION ACUMULATIVA *@
    @Html.Hidden("dtaJsonEvAcumulativa", @Model.evAcumulativaModel.jsonEvAcumulativa.ToString())

    @* DATOS EVALUACION FINAL *@
    @Html.Hidden("dtaJsonEvFinal", @Model.evFinalModel.jsonEvFinal.ToString())

    @* DATOS EVALUACION RECUPERACION *@
    @Html.Hidden("dtaJsonEvRecuperacion", @Model.evRecuperacionModel.jsonEvRecuperacion.ToString())

</div>
