@model SitioWebOasis.Models.EvaluacionesDocenteModel

@{
    ViewBag.Title = "Gestión de Notas - ";
    var strParcialActivo = Model.getDtaEvaluacionActiva.Replace("FN", "");
    var estadoActa = Model.estadoActa();

    var colorEA = "btn-success";
    var colorEF = "btn-success";
    var colorER = "btn-success";
    var activoEA = "collapse in";
    var activoEF = "collapse";
    var activoER = "collapse";

    switch (strParcialActivo){
        case "1":
        case "2":
        case "3":
            colorEA = (estadoActa)? "btn-success": "btn-warning";
            colorEF = "btn-warning";
            colorER = "btn-warning";
            break;

        case "P":
            colorEA = "btn-warning";
            colorEF = (estadoActa) ? "btn-success" : "btn-warning";
            colorER = "btn-warning";
            activoEA = "collapse";
            activoEF = "collapse in";
            activoER = "collapse";
            break;

        case "ER":
            colorEA = "btn-warning";
            colorEF = "btn-warning";
            colorER = (estadoActa) ? "btn-success" : "btn-warning";
            activoEA = "collapse";
            activoEF = "collapse";
            activoER = "collapse in";
            break;

        default:
            colorEA = "btn-warning";
            colorEF = "btn-warning";
            colorER = "btn-warning";
            activoEA = "collapse";
            activoEF = "collapse";
            activoER = "collapse";
            break;
    }
}

@section AddToHead{
    <link href="@Url.Content("~/Content/css/skins/docente.css")" rel="stylesheet" type="text/css" />
}

<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="contextual-summary-info">
                <i class="fa fa-list-alt"></i>
                <p class="pull-right"><span> @Language.es_ES.DOC_GESTION_NOTAS </span> @Model.getNombreAsignatura() </p>
            </div>
        </div>
    </div>
</div>

<div class="widget">
    <div class="widget-header">
        <h3> <strong> @Language.es_ES.DOC_GRD_EVALUACION_FORMATIVA </strong> </h3>
        <div class="widget-header-toolbar">

            <div class="control-inline toolbar-item-group">
                <span class="control-title"><i class="fa fa-calendar-check-o"></i> @Language.es_ES.LST_LBL_ASIGNATURAS_DOCENTE: &nbsp;</span>
                @*  dropdownlist - asignaturas de un docente *@
                @Html.DropDownList("ddlLstPeriodosEstudiante",
                                    Model.getLstAsignaturasDocente(),
                                    new{@class = "multiselect",
                                        @Styles = "display: none;"
                                    })
            </div>
        </div>
    </div>

    <div class="widget-content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion">

                    @*EVALUACION ACUMULATIVA*@
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <strong> @Language.es_ES.DOC_TB_EV_ACUMULATIVA </strong>
                                    <i class="fa fa-angle-down pull-right"></i>
                                    <i class="fa fa-angle-up pull-right"></i>

                                    @*Mensaje de estado de Evaluacion acumulativa*@
                                    @Html.Raw(@Model.getMsgEstFMGEvAcumulativa())
                                </a>
                            </h4>
                        </div>
                        <div id = "collapseOne" class="panel-collapse @activoEA">
                            <div class="panel-body">

                                @* Area de mensajes *@
                                <div id="msmGrdEvAcumulativa" hidden="hidden"></div>

                                @* BOTONES DE IMPRESION DE ACTAS *@
                                @if (strParcialActivo == "3" || strParcialActivo == "P" ){
                                    <div class="row">
                                        <div class="col-sm-12">
                                            @* IMPRESION DEL ACTA - EV ACUMULATIVA *@
                                            <div class="btn-group">
                                                <button id="btnEA" type="button" class="btn @colorEA btn-md"><i class="fa fa fa-print"></i> <strong>Impresión Acta Acumulativa</strong> </button>
                                                <button id="btnEAF" type="button" class="btn @colorEA btn-md dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a id="pEA_pdf" href="#"> @Language.es_ES.EST_DWN_PDF</a></li>
                                                    <li><a id="pEA_xls" href="#"> @Language.es_ES.EST_DWN_XLS</a></li>
                                                    <li class="divider"></li>
                                                    <li><a id="pEA_blc" href="#"> @Language.es_ES.EST_DWN_PDF_BLANCO </a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                    <hr class="inner-separator">
                                }
                                
                                @* GRID DE EVALUACION ACUMULATIVA *@
                                @* Si no existe parcial activo (P1, P2, P3) muestro el grid solo de lectura *@
                                @if ( ( strParcialActivo == "1" || strParcialActivo == "2" || strParcialActivo == "3" ) && estadoActa ){
                                    <table id="grdEvAcumulativa"></table>
                                    <hr class="inner-separator">
                                    <button id="btnGuardarEvAcumulativa"
                                            type="button"
                                            class="btn btn-success pull-right">
                                        <i class="fa fa-floppy-o fa-2x"></i> <strong>@Language.es_ES.BTN_GUARDAR_EVALUACION_ACUMULATIVA</strong>
                                    </button>
                                }else{
                                    @*TABLA DE NOTAS ACUMULATIVAS DEL ESTUDIANTE*@
                                    <table class="table table-bordered table-hover table-striped table-responsive" role="grid">
                                        <thead>
                                            <tr role="row">
                                                <th rowspan="2" style="align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_NUMERO</th>
                                                <th rowspan="2" style="align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_CODIGO_ESTUDIANTE</th>
                                                <th rowspan="2" style="align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_NOMBRE_ESTUDIANTE</th>
                                                <th rowspan="2" style="align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_NUMERO_MATRICULA</th>
                                                <th style="align-content: center; vertical-align: middle; text-align: center;" colspan="3">@Language.es_ES.NOTAS_TB_COL_EV_ACUMULATIVA</th>
                                                <th style="align-content: center; vertical-align: middle; text-align: center;" colspan="3">@Language.es_ES.NOTAS_TB_COL_TOTALIZADOS</th>
                                                <th rowspan="2" style="align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_OBSERVACION</th>
                                            </tr>

                                            <tr role="row">
                                                <th style="width: 75px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_PARCIAL_01 </th>
                                                <th style="width: 75px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_PARCIAL_02</th>
                                                <th style="width: 75px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_PARCIAL_03</th>

                                                <th style="width: 80px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_TOTAL</th>
                                                <th style="width: 80px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_PORCIENTO_ASISTENCIA</th>
                                                <th style="width: 80px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_EQUIVALENCIA</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @* NOTAS EVALUACION ESTUDIANTE *@
                                            @Html.Raw(Model.evAcumulativa.getHTML_EvaluacionAcumulativa())
                                        </tbody>
                                    </table>
                                }
                            </div>
                        </div>
                    </div>


                    @*EVALUACION FINAL*@
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                                    <strong> @Language.es_ES.DOC_TB_EV_FINAL </strong>
                                    <i class="fa fa-angle-down pull-right"></i>
                                    <i class="fa fa-angle-up pull-right"></i>

                                    @* Mensaje de estado de evaluación final *@
                                    @Html.Raw(@Model.getMsgEstFMGEvFinal())
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse @activoEF">
                            <div class="panel-body">

                                @if (strParcialActivo == "P" || strParcialActivo == "S")
                                {
                                    @* Area de mensajes evaluación final *@
                                    <div id="msmGrdEvFinal" hidden="hidden"></div>

                                    @* BOTONES DE IMPRESION DE ACTAS *@
                                    <div class="row">
                                        <div class="col-sm-12">
                                            @* IMPRESION DEL ACTA - EV FINAL *@
                                            <div class="btn-group">
                                                <button id="btnEF" type="button" class="btn @colorEF btn-md"><i class="fa fa fa-print"></i> <strong>Impresión acta final</strong> </button>
                                                <button id="btnEFF" type="button" class="btn @colorEF btn-md dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a id="pEF_pdf" href="#"> @Language.es_ES.EST_DWN_PDF</a></li>
                                                    <li><a id="pEF_xls" href="#"> @Language.es_ES.EST_DWN_XLS</a></li>
                                                    <li class="divider"></li>
                                                    <li><a id="pEF_blc" href="#"> @Language.es_ES.EST_DWN_PDF_BLANCO </a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="inner-separator">

                                    if (strParcialActivo == "P" && estadoActa){
                                        @* GRID DE EVALUACION FINAL *@
                                        <table id="grdEvFinal"></table>
                                        <hr class="inner-separator">
                                        <button id="btnGuardarEvFinal"
                                                type="button"
                                                class="btn btn-success pull-right">
                                            <i class="fa fa-floppy-o fa-2x"></i> @Language.es_ES.BTN_GUARDAR_EVALUACION_FINAL
                                        </button>
                                    }
                                    else if (strParcialActivo == "P"){
                                        @*TABLA DE NOTAS EVALUACION FINAL DEL ESTUDIANTE*@
                                        <table class="table table-bordered table-hover table-striped table-responsive" role="grid">
                                            <thead>
                                                <tr role="row">
                                                    <th rowspan="2" style="align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_NUMERO</th>
                                                    <th rowspan="2" style="align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_CODIGO_ESTUDIANTE</th>
                                                    <th rowspan="2" style="align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_NOMBRE_ESTUDIANTE</th>
                                                    <th rowspan="2" style="align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_NUMERO_MATRICULA</th>
                                                    <th style="align-content: center; vertical-align: middle; text-align: center;" colspan="2">@Language.es_ES.NOTAS_TB_COL_TOTALIZADO_EV_FINAL </th>
                                                    <th rowspan="2" style="align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_NOTA_EV_FINAL</th>
                                                    <th style="align-content: center; vertical-align: middle; text-align: center;" colspan="2">@Language.es_ES.NOTAS_TB_COL_TOTALIZADOS</th>
                                                    <th rowspan="2" style="align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_OBSERVACION</th>
                                                </tr>

                                                <tr role="row">
                                                    <th style="width: 75px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_EF_TOTAL_ACUMULADO </th>
                                                    <th style="width: 75px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_EF_TOTAL_ASISTENCIA</th>

                                                    <th style="width: 80px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_EF_TOTAL_EV_FINAL</th>
                                                    <th style="width: 80px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_ESTADO</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @* NOTAS EVALUACION ESTUDIANTE *@
                                                @Html.Raw(Model.evFinal.getHTML_EvaluacionFinal())
                                            </tbody>
                                        </table>
                                    }
                                }else{
                                    <div class="alert alert-info">
                                        @Language.es_ES.SMS_FCH_INICIO_EV_FINAL <strong>@Model.getFchInicioGestionEvFinal()</strong>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>


                    @*EVALUACION RECUPERACION*@
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                                    <strong> @Language.es_ES.DOC_TB_EV_RECUPERACION </strong>
                                    <i class="fa fa-angle-down pull-right"></i>
                                    <i class="fa fa-angle-up pull-right"></i>

                                    @* Mensaje de estado de evaluación final *@
                                    @Html.Raw(@Model.getMsgEstFMGEvRecuperacion())
                                </a>
                            </h4>
                        </div>
                        
                        <div id="collapseThree" class="panel-collapse @activoER">
                            <div class="panel-body">

                                @if (strParcialActivo == "S"){
                                    @* BOTONES DE IMPRESION DE ACTAS *@
                                    <div class="row">
                                        <div class="col-sm-12">
                                            @* IMPRESION DEL ACTA - EV RECUPERACION *@
                                            <div class="btn-group">
                                                <button id="btnER" type="button" class="btn @colorEA btn-md"><i class="fa fa fa-print"></i> <strong>Impresión acta recuperación</strong> </button>
                                                <button id="btnERF" type="button" class="btn @colorEA btn-md dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a id="pER_pdf" href="#"> @Language.es_ES.EST_DWN_PDF</a></li>
                                                    <li><a id="pER_xls" href="#"> @Language.es_ES.EST_DWN_XLS</a></li>
                                                    <li class="divider"></li>
                                                    <li><a id="pER_blc" href="#"> @Language.es_ES.EST_DWN_PDF_BLANCO </a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="inner-separator">

                                    if (strParcialActivo == "S" && estadoActa){
                                        <div id="msmGrdEvRecuperacion"></div>
                                        @* GRID DE EVALUACION RECUPERACION *@
                                        <table id="grdEvRecuperacion"></table>
                                        <hr class="inner-separator">

                                        <button id="btnGuardarEvRecuperacion"
                                                type="button"
                                                class="btn btn-success pull-right">
                                            <i class="fa fa-floppy-o fa-2x"></i> <strong> @Language.es_ES.BTN_GUARDAR_EVALUACION_RECUPERACION </strong>
                                        </button>
                                    }else{
                                        @* SOLO LECTURA - TABLA DE NOTAS ACUMULATIVAS DEL ESTUDIANTE*@
                                        <table class="table table-bordered table-hover table-striped table-responsive" role="grid">
                                            <thead>
                                                <tr role="row">
                                                    <th rowspan="2" style="align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_NUMERO</th>
                                                    <th rowspan="2" style="align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_NOMBRE_ESTUDIANTE</th>
                                                    <th rowspan="2" style="align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_NUMERO_MATRICULA</th>
                                                    <th rowspan="2" style="align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_ER_TOTAL_EV_FORMATIVA</th>
                                                    <th rowspan="2" style="align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_ER_NOTA_EV_RECUPERACION</th>
                                                    <th style="align-content: center; vertical-align: middle; text-align: center;" colspan="2">@Language.es_ES.NOTAS_TB_COL_TOTALIZADOS</th>
                                                    <th rowspan="2" style="align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_OBSERVACION</th>
                                                </tr>

                                                <tr role="row">
                                                    <th style="width: 80px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_EF_TOTAL_EV_FINAL</th>
                                                    <th style="width: 80px; align-content: center; vertical-align: middle; text-align: center;">@Language.es_ES.NOTAS_TB_COL_ESTADO</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @* NOTAS EVALUACION ESTUDIANTE *@
                                                @Html.Raw(Model.evRecuperacion.getHTML_EvaluacionRecuperacion())
                                            </tbody>
                                        </table>
                                    }
                                }else{
                                    <div class="alert alert-info">
                                        @Language.es_ES.SMS_FCH_INICIO_EV_RECUPERACION <strong>@Model.getFchInicioGestionEvRecuperacion()</strong>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    @* MENSAJE DE CONFIRMACION DE IMPRESION *@
    <div id="loginForm" style="cursor: default; display: none;">
        <div class="alert alert-warning alert-dismissable">
            Compañero docente al ejecutar está acción usted
            <strong> DA POR FINALIZADA LA GESTIÓN DE NOTAS DEL PARCIAL @strParcialActivo </strong> y ninguna nota de este parcial va ser gestionada desde el modulo web del sistema académico.
        </div>

        <div class="alert alert-info alert-dismissable">
            Por su seguridad se ha enviado un código de confirmación a su cuenta de correo <strong> @User.Identity.Name.ToString() </strong> para continuar con la ejecución de esta tarea
        </div>

        <input id="dtaNumConfirmacion" type="text" name="dtaNumConfirmacion" maxlength="4" placeholder="NÚMERO DE CONFIRMACIÓN">
        <p>
            <input id="btnValidarImprimir" type="button" value="Validar e imprimir" name="btnValidarImprimir">
            <input id="btnCerrarNC" type="button" value="Cerrar" name="btnCerrarNC">
        </p>
    </div>

    @* CODIGO DE LA ASIGNATURA A GESTIONAR *@
    @Html.Hidden("codAsignatura", @Model.strCodAsignatura)

    @* NIVEL DE LA ASIGNATURA *@
    @Html.Hidden("nivel", @Model.strCodNivel)

    @* PARALELO *@
    @Html.Hidden("paralelo", @Model.strCodParalelo)

    @* PARCIAL ACTIVO *@
    @Html.Hidden("dtaParcialActivo", @strParcialActivo)

    @Html.Hidden("opImpEvAcumulada", "")
    @Html.Hidden("opImpEvFinal", "")
    @Html.Hidden("opImpEvRecuperacion", "")

    
    @section scripts{
        @*  JAVASCRIPT DE GESTION NOTAS DOCENTE  *@
        <script src="~/Content/js/Docentes/GestionNotasDocente.js?v1.0.7"> </script>

        @*  JAVASCRIPT DE GESTION DE INFORMACION DE EVALUACION ACUMULATIVA  *@
        @if ((strParcialActivo == "1" || strParcialActivo == "2" || strParcialActivo == "3") && estadoActa ){
            <script src="~/Content/js/Docentes/GestionEvAcumulativa.js?v1.0.127"> </script>
            <script src="~/Content/js/Docentes/EvaluacionAcumulativa.js?v1.0.127"> </script>

            @* DATOS EVALUACION ACUMULATIVA *@
            @Html.Hidden("dtaJsonEvAcumulativa", @Model.evAcumulativa.jsonEvAcumulativa.ToString())
        }else{
            <script src="~/Content/js/Docentes/ImpresionActasAcumulativa.js"></script>
        }

        @*  JAVASCRIPT DE GESTION DE INFORMACION DE EVALUACION FINAL *@
        @if (strParcialActivo == "P" && !estadoActa){
            <script src="~/Content/js/Docentes/ImpresionActasAcumulativa.js"></script>
            <script src="~/Content/js/Docentes/GestionEvFinal.js?v1.0.39"></script>
            <script src="~/Content/js/Docentes/EvaluacionFinal.js?v1.0.39"></script>

            @* DATOS EVALUACION FINAL *@
            @Html.Hidden("dtaJsonEvFinal", @Model.evFinal.jsonEvFinal.ToString())
        }

        @*  JAVASCRIPT DE GESTION DE INFORMACION DE EVALUACION RECUPERACION *@
        @if (strParcialActivo == "ER" && estadoActa){
            <script src="~/Content/js/Docentes/ImpresionActasAcumulativa.js"></script>
            <script src="~/Content/js/Docentes/ImpresionActaFinal.js"></script>
            <script src="~/Content/js/Docentes/GestionEvRecuperacion.js?v1.0.14"></script>
            <script src="~/Content/js/Docentes/EvaluacionRecuperacion.js?v1.0.14"></script>

            @* DATOS EVALUACION RECUPERACION *@
            @Html.Hidden("dtaJsonEvRecuperacion", @Model.evRecuperacion.jsonEvRecuperacion.ToString())
        }

        @*  JAVASCRIPT DE GESTION DE INFORMACION DE EVALUACION RECUPERACION *@
        @if (strParcialActivo == "NA"){
            <script src="~/Content/js/Docentes/ImpresionActasAcumulativa.js"></script>
        }
    }

</div>